.section2 {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    justify-content: center;
}


/* left */

.section2 .left {
    width: 700px;
    margin: auto;
}

.section2 img {
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
}

/* right */

.section2 .right {
    width: 600px;
    margin: auto;
}

.section2 .right p {
    font-size: 24px;
    text-align: left;
}

.section2 .right h1 {
    font-size: 1rem;
    padding: 1rem 0;
}

.section2 .right h2 {
    font-size: 1.2rem;
    padding: 1rem 0 0 0;
    line-height: 2.5rem;
}

.section2 .right span {
    font-size: 2rem;
}

.check {
    font-size: 1.5rem;
    color: rgb(139, 85, 4);
}

.section2 .right ul li {
    font-size: 1rem;
    padding: 1rem 0;
    font-weight: 600;
}

.section2 .right ul li span {
    font-size: 1.2rem;
    padding: 1rem 0;
    font-weight: 600;
}

@media screen and (max-width:940px) {

    .section2 {
        flex-wrap: wrap;
    }

    .section2 .right {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .section2 .right h2 {
        font-size: 1.5rem;
    }

    
}