.about-section {
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0);
}

.about-section-content {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 3rem 0;
}


.about-section-left {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.about-section-right {
    width: 500px;
    margin: auto;
    padding: 1rem;
}

.about-section-right img {
    width: 100%;
    border-radius: 10px;
}

.about-section-left p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: rgb(0, 0, 0);
    margin: .5rem 0;
    font-size: 14px;
    line-height: 20px;
}

.about-section-left h1 {
    padding: .5rem 0;
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

.about-btn button {
    background-color: var(--primary-color);
    border-radius: 5px;
    border: none;
}

.about-btn button:hover {

    background-color: black;
    color: white;
}


@media screen and (max-width: 940px) {

    .about-section-content {
        flex-wrap: wrap;
    }

    .about-section-left {
        width: 90%;
        margin: auto;
    }
    
    .about-section-right {
        width: 90%;
    }


}






